<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qust.engineer.dao.AdminMapper">
  <resultMap id="BaseResultMap" type="com.qust.engineer.pojo.Admin">
    <id column="adm_id" jdbcType="INTEGER" property="admId" />
    <result column="adm_name" jdbcType="VARCHAR" property="admName" />
    <result column="adm_pwd" jdbcType="VARCHAR" property="admPwd" />
    <result column="adm_issuper" jdbcType="BIT" property="admIssuper" />
  </resultMap>
  <sql id="Base_Column_List">
    adm_id, adm_name, adm_pwd, adm_issuper
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_admin
    where adm_id = #{admId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tbl_admin
    where adm_id = #{admId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qust.engineer.pojo.Admin">
    insert into tbl_admin (adm_id, adm_name, adm_pwd, 
      adm_issuper)
    values (#{admId,jdbcType=INTEGER}, #{admName,jdbcType=VARCHAR}, #{admPwd,jdbcType=VARCHAR}, 
      #{admIssuper,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.qust.engineer.pojo.Admin">
    insert into tbl_admin
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="admId != null">
        adm_id,
      </if>
      <if test="admName != null">
        adm_name,
      </if>
      <if test="admPwd != null">
        adm_pwd,
      </if>
      <if test="admIssuper != null">
        adm_issuper,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="admId != null">
        #{admId,jdbcType=INTEGER},
      </if>
      <if test="admName != null">
        #{admName,jdbcType=VARCHAR},
      </if>
      <if test="admPwd != null">
        #{admPwd,jdbcType=VARCHAR},
      </if>
      <if test="admIssuper != null">
        #{admIssuper,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qust.engineer.pojo.Admin">
    update tbl_admin
    <set>
      <if test="admName != null">
        adm_name = #{admName,jdbcType=VARCHAR},
      </if>
      <if test="admPwd != null">
        adm_pwd = #{admPwd,jdbcType=VARCHAR},
      </if>
      <if test="admIssuper != null">
        adm_issuper = #{admIssuper,jdbcType=BIT},
      </if>
    </set>
    where adm_id = #{admId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qust.engineer.pojo.Admin">
    update tbl_admin
    set adm_name = #{admName,jdbcType=VARCHAR},
      adm_pwd = #{admPwd,jdbcType=VARCHAR},
      adm_issuper = #{admIssuper,jdbcType=BIT}
    where adm_id = #{admId,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.qust.engineer.pojo.Admin">
    <id column="adm_id" jdbcType="INTEGER" property="admId" />
    <result column="adm_name" jdbcType="VARCHAR" property="admName" />
    <result column="adm_pwd" jdbcType="VARCHAR" property="admPwd" />
    <result column="adm_issuper" jdbcType="BIT" property="admIssuper" />
  </resultMap>
  <sql id="Base_Column_List">
    adm_id, adm_name, adm_pwd, adm_issuper
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_admin
    where adm_id = #{admId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tbl_admin
    where adm_id = #{admId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qust.engineer.pojo.Admin">
    insert into tbl_admin (adm_id, adm_name, adm_pwd, 
      adm_issuper)
    values (#{admId,jdbcType=INTEGER}, #{admName,jdbcType=VARCHAR}, #{admPwd,jdbcType=VARCHAR}, 
      #{admIssuper,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.qust.engineer.pojo.Admin">
    insert into tbl_admin
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="admId != null">
        adm_id,
      </if>
      <if test="admName != null">
        adm_name,
      </if>
      <if test="admPwd != null">
        adm_pwd,
      </if>
      <if test="admIssuper != null">
        adm_issuper,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="admId != null">
        #{admId,jdbcType=INTEGER},
      </if>
      <if test="admName != null">
        #{admName,jdbcType=VARCHAR},
      </if>
      <if test="admPwd != null">
        #{admPwd,jdbcType=VARCHAR},
      </if>
      <if test="admIssuper != null">
        #{admIssuper,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qust.engineer.pojo.Admin">
    update tbl_admin
    <set>
      <if test="admName != null">
        adm_name = #{admName,jdbcType=VARCHAR},
      </if>
      <if test="admPwd != null">
        adm_pwd = #{admPwd,jdbcType=VARCHAR},
      </if>
      <if test="admIssuper != null">
        adm_issuper = #{admIssuper,jdbcType=BIT},
      </if>
    </set>
    where adm_id = #{admId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qust.engineer.pojo.Admin">
    update tbl_admin
    set adm_name = #{admName,jdbcType=VARCHAR},
      adm_pwd = #{admPwd,jdbcType=VARCHAR},
      adm_issuper = #{admIssuper,jdbcType=BIT}
    where adm_id = #{admId,jdbcType=INTEGER}
  </update>
</mapper>