<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qust.engineer.dao.FollowQuestionMapper" >
  <resultMap id="BaseResultMap" type="com.qust.engineer.pojo.FollowQuestionKey" >
    <id column="q_id" property="qId" jdbcType="INTEGER" />
    <id column="u_id" property="uId" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="com.qust.engineer.pojo.FollowQuestionKey" >
    delete from tbl_follow_qst
    where q_id = #{qId,jdbcType=INTEGER}
      and u_id = #{uId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qust.engineer.pojo.FollowQuestionKey" >
    insert into tbl_follow_qst (q_id, u_id)
    values (#{qId,jdbcType=INTEGER}, #{uId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.qust.engineer.pojo.FollowQuestionKey" >
    insert into tbl_follow_qst
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="qId != null" >
        q_id,
      </if>
      <if test="uId != null" >
        u_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="qId != null" >
        #{qId,jdbcType=INTEGER},
      </if>
      <if test="uId != null" >
        #{uId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>