<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qust.engineer.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.qust.engineer.pojo.User" >
    <id column="u_id" property="uId" jdbcType="INTEGER" />
    <result column="u_email" property="uEmail" jdbcType="VARCHAR" />
    <result column="u_name" property="uName" jdbcType="VARCHAR" />
    <result column="u_pwd" property="uPwd" jdbcType="VARCHAR" />
    <result column="u_sex" property="uSex" jdbcType="CHAR" />
    <result column="u_desc" property="uDesc" jdbcType="VARCHAR" />
    <result column="u_img" property="uImg" jdbcType="VARCHAR" />
    <result column="u_status" property="uStatus" jdbcType="BIT" />
    <result column="u_actnCode" property="uActncode" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    u_id, u_email, u_name, u_pwd, u_sex, u_desc, u_img, u_status, u_actnCode
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tbl_user
    where u_id = #{uId,jdbcType=INTEGER}
  </select>
  
  <!-- 问题：是否所有的属性都要设置， id 是必需属性-->
  <select id="selectByEmail" resultType = "Integer"  parameterType="String"> 
  	select count(*)
  	from tbl_user
  	where u_email = #{uEmail,jdbcType = VARCHAR}
  </select>
  
  <!-- 直接使用属性名 -->
  <select id="selectByEmailPwd" resultType = "Integer" parameterType="com.qust.engineer.pojo.User"> 
  	select count(*)
  	from tbl_user
  	<where>
  	u_email = #{uEmail} and u_pwd = #{uPwd}
  	</where>
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tbl_user
    where u_id = #{uId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qust.engineer.pojo.User" >
    insert into tbl_user (u_id, u_email, u_name, 
      u_pwd, u_sex, u_desc, u_img, 
      u_status, u_actnCode)
    values (#{uId,jdbcType=INTEGER}, #{uEmail,jdbcType=VARCHAR}, #{uName,jdbcType=VARCHAR}, 
      #{uPwd,jdbcType=VARCHAR}, #{uSex,jdbcType=CHAR}, #{uDesc,jdbcType=VARCHAR}, #{uImg,jdbcType=VARCHAR}, 
      #{uStatus,jdbcType=BIT}, #{uActncode,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qust.engineer.pojo.User" >
    insert into tbl_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uId != null" >
        u_id,
      </if>
      <if test="uEmail != null" >
        u_email,
      </if>
      <if test="uName != null" >
        u_name,
      </if>
      <if test="uPwd != null" >
        u_pwd,
      </if>
      <if test="uSex != null" >
        u_sex,
      </if>
      <if test="uDesc != null" >
        u_desc,
      </if>
      <if test="uImg != null" >
        u_img,
      </if>
      <if test="uStatus != null" >
        u_status,
      </if>
      <if test="uActncode != null" >
        u_actnCode,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uId != null" >
        #{uId,jdbcType=INTEGER},
      </if>
      <if test="uEmail != null" >
        #{uEmail,jdbcType=VARCHAR},
      </if>
      <if test="uName != null" >
        #{uName,jdbcType=VARCHAR},
      </if>
      <if test="uPwd != null" >
        #{uPwd,jdbcType=VARCHAR},
      </if>
      <if test="uSex != null" >
        #{uSex,jdbcType=CHAR},
      </if>
      <if test="uDesc != null" >
        #{uDesc,jdbcType=VARCHAR},
      </if>
      <if test="uImg != null" >
        #{uImg,jdbcType=VARCHAR},
      </if>
      <if test="uStatus != null" >
        #{uStatus,jdbcType=BIT},
      </if>
      <if test="uActncode != null" >
        #{uActncode,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qust.engineer.pojo.User" >
    update tbl_user
    <set >
      <if test="uEmail != null" >
        u_email = #{uEmail,jdbcType=VARCHAR},
      </if>
      <if test="uName != null" >
        u_name = #{uName,jdbcType=VARCHAR},
      </if>
      <if test="uPwd != null" >
        u_pwd = #{uPwd,jdbcType=VARCHAR},
      </if>
      <if test="uSex != null" >
        u_sex = #{uSex,jdbcType=CHAR},
      </if>
      <if test="uDesc != null" >
        u_desc = #{uDesc,jdbcType=VARCHAR},
      </if>
      <if test="uImg != null" >
        u_img = #{uImg,jdbcType=VARCHAR},
      </if>
      <if test="uStatus != null" >
        u_status = #{uStatus,jdbcType=BIT},
      </if>
      <if test="uActncode != null" >
        u_actnCode = #{uActncode,jdbcType=CHAR},
      </if>
    </set>
    where u_id = #{uId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qust.engineer.pojo.User" >
    update tbl_user
    set u_email = #{uEmail,jdbcType=VARCHAR},
      u_name = #{uName,jdbcType=VARCHAR},
      u_pwd = #{uPwd,jdbcType=VARCHAR},
      u_sex = #{uSex,jdbcType=CHAR},
      u_desc = #{uDesc,jdbcType=VARCHAR},
      u_img = #{uImg,jdbcType=VARCHAR},
      u_status = #{uStatus,jdbcType=BIT},
      u_actnCode = #{uActncode,jdbcType=CHAR}
    where u_id = #{uId,jdbcType=INTEGER}
  </update>
</mapper>